.header{

}
.continer01{
    padding: 2% 3% 0;
    background-color: #ffc74c;
    /* border: solid rgb(234, 208, 208); */
    overflow: hidden;

}
.image{
    width: 20%;
    /* border: solid rgb(33, 27, 27); */
    float: left;

}
.image img{
    width: 100%;
}
.continer02{
    width: 60%;
    float: right;
    /* border: solid red; */
}
.image02{
    overflow: hidden;
}
.image02 img{
    padding-left: 610px;
    float: left;
}
.image02 p{
    float: right;
}
.menu1{}

/* m */
.menu{
    
    overflow: hidden;
  
    width: 60%;
    float: right;
    /* border: solid  blue; */

}
.menu ul{

}
.menu ul li{
    list-style: none;
    float: left;
    color:#412009;

}
.menu ul li a{
    display: inline-block;
    text-decoration: none;
    padding: 0 75px;
    font-family: 'Bebas Neue',cursive;
    font-size: 16px;
    color:#412009;
    text-transform: capitalize;
    
  
}
.menu ul li :last-child{
    padding-right: 0;
}
.menu ul li a:hover{
    color:black;
}
/* baner start */
.baner{

}
.baner01{
    background-color: #ffc74c;
    padding: 0 3% 1%;

    overflow: hidden;

}
.text01{
    color: #412009;
  
  
    float: left;

}
.text01 p{
    padding-top: 100px;
    font-weight:400;
    font-size: 16px;
    font-family: 'Bebas Neue', cursive;

}
.text01 h1{
    padding-top: 0;
    padding-bottom: 0;

    font-weight:400;
    font-size: 130px;
    font-family: 'Alfa Slab One', cursive;
}
.text01 h3{
    padding-top: 0;
    font-weight:400;
    font-size: 60px;
    font-family: 'Alfa Slab One', cursive;
}
.b_img{
    float: right;
}
.b_img img{

}

/* baner end */
/* serves start */
.serves{
    padding: 5% 5% 5%;

}
.serves01{
    overflow: hidden;
}

.ser01{
    float: left;
}
.ser01 img{
    wight: 100%;
}
.serves02{
    float: right;
}
.ser02{}
.ser02 img{
    wight: 100%;
}
.ser03{
    padding-top: 50px;
}
.ser03 img{
    wight: 100% ;
}


/* serves end */
/* text 01 start*/
.serves05{
    padding: 0 3% 1% ;
    color: #412009;
    text-align: center;
    font-family: 'Alfa Slab One', cursive;
}
.serves05 button{ 
    text-transform: capitalize;
    color: #412009;
    background-color: #ffc74c;
    height: 30px ;
    width: 150px ;
}
.serves05 h1{
    font-size:50;
    font-weight: 
}
.serves05 p{
    font-size:16;
    font-weight: 
}


/* text 01 end */
/* bargger serves 02 start */
.bargger_s{
    padding: 0 5% 1%;
    
    text-align: center;
   
    color: #412009;
    overflow: hidden;
}
.bargger01{
    width: 33.33%;
    float: left;}
.bargger01 img{
    width: 100%;
}
.bargger01 h2{
    text-transform: capitalize;
    font-size: 25px;
    font-weight: 1200;

}
.bargger01 p{}
.bargger01 button{
    text-transform: capitalize;
    color: white;
    background-color:red;
    height: 30px;
    width: 150px;
}

/* bargger serves 02 end */
/* serves 04 start */
.baner04{}
.baner09{
    padding: 5% 6% 1%;

    font-family: 'Alfa Slab One', cursive;
    color: #412009;
    overflow: hidden;
}
.text04{
    width: 48%;
    float: left;
}
.text04 h4 {
    text-transform: capitalize;
}
.text04 h2{
    padding-bottom: 50px;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}
.text04 p{
    /* line-height: 1px; */
    font-size: 16px;
}
.b_img09{
    width: 52%;
    float: right;
}
.b_img09 img{
    width: 100%;
}

/* serves 04  end */
/* from start */
.from{
    padding: 5% 5% 5% ;
    overflow: hidden;
}
.image10{
    width: 25%;
    float: left;
}
.image10 img{
    width: 100% ;
}
.from_01{
    float: left;
    width: 50% ;
}
.from_01 h4{}
.from_01 h2{


}
.tabil{
    width: 100%;
}
.name .email .date .time.pepol {
    width:80%;
    height: 25px;
    padding: 10px;

}

.tabil button{}
.image11{
    padding-right: 0;
    float: left;
    width: 23% ;
}
.image11 img{
    width: 100% ;
}
/* from end */
/* footer */
.footer{}
.footer img{
    width: 100% 
}






    /* .weaper1{ */
        width: 60%;
        margin:0 auto;
        /* border: 2px solid red; */
    }
    /* .first_name .last_nam .email .password{ */
       
    }